<h1>New Post</h1>
<%= link_to 'Back', welcome_index_url %>


<%= form_with(model: @post, local: true, url: posts_url, methods: :post) do |f| %>

  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :content, "text" %><br />
    <%= f.text_area :content, size: '50x10' %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>